<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/NguoiTimViec/index::dynamic(~{::body})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giới thiệu</title>

</head>
<body>
    <div class="about-page">
        <div class="hero-section">
            <h1>Giới thiệu</h1>
            <p>Tìm hiểu thêm về sứ mệnh, tầm nhìn và đội ngũ đứng sau thành công của chúng tôi.</p>
        </div>
        
        <main>
            <section>
                <h2>Sứ Mệnh của Chúng Tôi</h2>
                <p>Sứ mệnh của chúng tôi là cung cấp các giải pháp hàng đầu không chỉ đáp ứng mà còn vượt qua mong đợi của khách hàng. Chúng tôi cam kết đổi mới, xuất sắc và mang lại những kết quả có ý nghĩa.</p>
            </section>
            
            <section>
                <h2>Tầm Nhìn của Chúng Tôi</h2>
                <p>Chúng tôi mong muốn trở thành một trong những nhà lãnh đạo trong ngành, được biết đến với cam kết chất lượng, đổi mới và dịch vụ khách hàng xuất sắc. Tầm nhìn của chúng tôi là thúc đẩy tiến bộ và tạo ra giá trị cho các bên liên quan.</p>
            </section>
            
            <section>
                <h2>Giá Trị Cốt Lõi</h2>
                <ul>
                    <li><strong>Chân Thật:</strong> Chúng tôi duy trì tiêu chuẩn cao nhất về tính trung thực và minh bạch trong tất cả các hành động của mình.</li>
                    <li><strong>Khách Hàng:</strong> Khách hàng là trung tâm của mọi việc chúng tôi làm. Chúng tôi cố gắng hiểu và đáp ứng nhu cầu của họ.</li>
                    <li><strong>Đổi Mới:</strong> Chúng tôi chấp nhận thay đổi và liên tục tìm kiếm những cách mới để cải thiện và phát triển.</li>
                    <li><strong>Xuất Sắc:</strong> Chúng tôi cam kết mang đến chất lượng và hiệu suất vượt trội trong mọi khía cạnh của doanh nghiệp.</li>
                </ul>
            </section>

            <section>
                <h2>Gặp Gỡ Đội Ngũ Của Chúng Tôi</h2>
                <div class="team-member">
                    <img src="https://scontent-hkg1-2.xx.fbcdn.net/v/t39.30808-6/277536866_4582564785188641_8862228555023444552_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=a5f93a&_nc_ohc=k2aFlDLphvYQ7kNvgHGy3ut&_nc_ht=scontent-hkg1-2.xx&oh=00_AYAep37sarQcUyICyQ9ydDgn80LxAhF5I3Xcd7GfKBwOeA&oe=66E9D8A6">
                    <h4>Nguyễn Lê Lam Trường</h4>
                    <p>Giám Đốc</p>
                    <p>Nguyễn Lê Lam Trường là Giám Đốc của chúng tôi, mang đến kinh nghiệm và tầm nhìn chiến lược để dẫn dắt công ty đến thành công. Liên hệ: 0385555702</p>
                </div>
                <!-- Thêm thông tin thành viên khác nếu cần -->
            </section>
        </main>
    </div>
</body>
</html>